// Main/primary color swatches
$main_10: #04212f;
$main_20: #0d4059;
$main_30: #136086;
$main_40: #1a7fb2;
$main: #209fdf;
$main_60: #4cb3e6;
$main_70: #79c6ec;
$main_80: #a6d9f2;
$main_90: #d2ecf9;

// UI/grey color swatches
$grey_10: #15181e;
$grey_20: #2a303c;
$grey_30: #3f485a;
$grey_40: #546078;
$grey_50: #697896;
$grey_60: #8793ab;
$grey_70: #a5aec0;
$grey_80: #c3c9d5;
$grey_90: #e1e4ea;

$grey_bg: #f5f5f5;

// Secondary/accent color swatches
$pink_50: #cc338c;